@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
.Profilepage{
    color:black;
    font-size: 20px;

}
.Upper-Part{
    width:80%;
    margin: auto;
    /* background-color: teal; */
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.imgWrapper{
    /* width: 15%; */
    place-content: center;
    place-items: center;
    align-items: center;
    margin-right: 1%;
}
.image-part img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid rgb(7, 7, 7);
    object-fit: cover;
    margin: 30px;
}
 .Short_bio{
    border-width: 2px;
    border-style: solid;
    padding: 0px 10px;
    border-image: 
      linear-gradient(
        to bottom, 
        #ff0066, 
        rgba(7, 194, 236,0)
      ) 1 100%;
    
}
.image-part img:hover{
    transition: 3s ease-in-out;
    box-shadow: 0 0 5px rgb(22, 22, 22);

}






.Upper-Part .info-part{
    width: 65%;
}
.Upper-Part .info-part .name{
    font-family: 'Poppins', sans-serif;
        font-size: 40px;
    font-weight: 600;

}
.Upper-Part .info-part .po-fol-fow{
    display: flex;
    margin:10px;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.po-fol-fow span{
    font-weight: 500;
    font-size: 16px;
    font-family: poppins;
    text-transform: uppercase;
    font-weight:300 ;
}

.lowerpart-align-center{
    padding: 20px;
}

.mygallery{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mygallery >Link{
    width: 32%;
    margin-bottom: 20px;
}